@{
    ViewData["Title"] = "Home Page";
}

<body id="body-page-home">
    <section id="part-one-body">
        <div id="container-image-home">
            <div id="legenda-text-pratica">Prática do dia</div>
            <img id="image-home"src="~/images/image-home1.svg" />
        </div>

        <div id="text-meditacao">
            <span> Meditação </span>
            <p>
                Muitos estudos científicos já comprovaram que a meditação promove bem estar emocional e físico. Aqui vai alguns benefícios da prática:
            </p>
            <ul>
                <li>
                    Reduz o estresse
                </li>
                <li>
                    Diminui a ansiedade
                </li>
                <li>
                    Aumenta a atenção
                </li>
                <li>
                    Melhora sintomas da depressão
                </li>
            </ul>
            <p>
                Quer saber mais sobre meditação? O Grupo WIS explica! <br />
                <button class="nav-link-meditacao">Ver mais</button>
            </p>
        </div>
    </section>

    <section class="part-comunidade">
        <div class="container-comunidade anime">
            <h1> Faça parte de nossa comunidade! </h1>
            <ul>
                <li class="anime">
                    Poderá compartilhar suas experiências com outros usuários.
                </li>
                <li class="anime">
                    Poderá sanar suas dúvidas com usuários experientes
                </li>
                <li class="anime">
                    Faça novas amizades com pessoas de todo o país!
                </li>
            </ul>
        </div>

        <div class="container-chat">
            <div class="chat-box">
                <header>
                    <p> Comunidade </p>
                </header>

                <div class="messages">
                    <div class="container-photo">
                        <img src="../images/photo-user.jpg" />
                    </div>
                    <div class="container-message">
                        <p> Boa tarde!! :)</p>
                    </div>
                </div>

                <div class="send-message">
                <img src="/images/emoji-icon.png" />
                    <input type="text" placeholder="Mensagem" />

                <div id="send-message-button">
                    <img src="~/images/send-icon.png" />
                    <input type="button">
                </div>

                </div>
            </div>
        </div>
    </section>

</body>