@{
    ViewData["Title"] = "Home Page";
}

<body id="body-page-home">
    <section id="part-one-body">
        <div id="container-image-home">
            <div id="legenda-text-pratica">Prática do dia</div>
            <img id="image-home"src="~/images/image-home1.svg" />
        </div>

        <div id="text-meditacao">
            <span> Meditação </span>
            <p>
                Muitos estudos científicos já comprovaram que a meditação promove bem estar emocional e físico. Aqui vai alguns benefícios da prática:
            </p>
            <ul>
                <li>
                    Reduz o estresse
                </li>
                <li>
                    Diminui a ansiedade
                </li>
                <li>
                    Aumenta a atenção
                </li>
                <li>
                    Melhora sintomas da depressão
                </li>
            </ul>
            <p>
                Quer saber mais sobre meditação? O Grupo WIS explica! <br />
                <button class="nav-link-meditacao">Ver mais</button>
            </p>
        </div>
    </section>

    <section class="part-comunidade">
        <div class="text-comunidade">
            <h1>Faça parte da nossa comunidade!</h1>
            <div class="Lado-direito">

                <div class="direita-chat">
                    <div class="chat-container">
                        <ul class="chat-geral">
                            <li class="message left">
                                <img class="logo" src="./img/Sabrina.png" alt="">
                                <p>Vamos Tomar café juntos hoje?</p>
                            </li>
                            <li class="message right">
                                <img class="logo" src="./img/felipe.png" alt="">
                                <p>Opa, eu topo. Onde vamos hoje?</p>
                            </li>
                            <li class="message left">
                                <img class="logo" src="./img/kaua.png" alt="">
                                <p>Conheço uma ótima padaria perto daqui.</p>
                            </li>
                            <li class="message right">
                                <img class="logo" src="./img/felipe.png" alt="">
                                <p>Alguem avisou o Leo?</p>
                            </li>
                            <li class="message left">
                                <img class="logo" src="./img/leo.png" alt="">
                                <p>Opa, Vamos sim, encontro voces lá</p>
                            </li>
                            <li class="message right">
                                <img class="logo" src="./img/felipe.png" alt="">
                                <p>Ótimo. Encontro vocês lá.</p>
                            </li>
                        </ul>
                        <input type="text" id="text_input" placeholder="Message..." />
                    </div>
                </div>
            </div>
        </div>


    </section>

</body>