@page
@model WIS_PI.Views.Home.Index1Model
@{
}

<body id="body-page-home">
    <nav class="navbar-lateral">
        <h1>
            Praticas
        </h1>
        <hr />
        <div>
            <ul>
                <li>
                    <a href="#">
                        Pratica do dia
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mais praticados
                    </a>
                </li>
                <hr/>
                <li>
                    <a href="#">
                        Yoga
                    </a>
                </li>
                <li>
                    <a href="#">
                        Meditação
                    </a>
                </li>
                <li>
                    <a href="#">
                        Alongamento
                    </a>
                </li>
                <li>
                    <a href="#">
                        Atividades
                    </a>
                </li>
        </ul>
        </div>
    </nav>

    <section class="praticas-container">
        <div id="container-image-pratica">
            <div id="legenda-text-pratica">Prática do dia</div>
            <img src="~/images/image-home1.svg" />
        </div>

        <div id="text-pratica">
            <span> Meditação </span>
            <p>
                Muitos estudos científicos já comprovaram que a meditação promove bem estar emocional e físico. Aqui vai alguns benefícios da prática:
            </p>
            <ul>
                <li>
                    Reduz o estresse
                </li>
                <li>
                    Diminui a ansiedade
                </li>
                <li>
                    Aumenta a atenção
                </li>
                <li>
                    Melhora sintomas da depressão
                </li>
            </ul>
            <p>
                Guia da Prática:

            </p>
        </div>
    </section>

</body>
